<head>
  <title>TinyApp</title>
</head>

 <a href="/register "> Register </a>

  <% if (!user || !user["id"]) { %>

    <a href="/login"> Login </a>

  <% } else { %>

    <a href="/logout"> Logout </a>

  <% } %>

