<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header.ejs %>
</head>
<body>

  <ul>

    <li> <%= urls[shortURL] %> - <%= shortURL %>

      <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">

        <input id="newLongURL" type="text" name="newLongURL" placeholder= <%= urls[shortURL] %> style="width: 300px">
        <input type="submit" value="Update">
      </form>

  </ul>

  <a href=" "> Shorten a new URL </a>

</body>
</html>