<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header.ejs %>
</head>
<body style="font-size:20px; padding:50px;">

  <ul>

    <li> ShortURL: <%= shortURL %> - <%= urls[shortURL]["url"] %>

      <form action="/urls/<%= shortURL %>" method="POST" >

        <input id="newLongURL" type="text" name="newLongURL" placeholder= <%= urls[shortURL]["url"] %> style="width: 300px">
        <input type="submit" value="Update">
      </form>

  </ul>

  <a href="/urls/new "> Shorten a new URL </a>
  <br>
  <a href="/urls"> List all your URLs </a>

</body>
</html>