<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header.ejs %>
</head>
<body>

  <ul>

    <li> <%= urls[shortURL] %> - <%= shortURL %>


  </ul>

  <a href=" "> Shorten a new URL </a>

</body>
</html>